- name: --- create directory on /home ----
  file:
    path: /home/dir1
    state: directory
    owner: root
    group: root
    mode: 0755
  tags: [create_dir]
    
- name: --- create another directory ---
  file: path=/home/dir2 state=directory owner=root group=root mode=0755
  tags: [create_dir]

- name: --- new file 3 ---
  file:
    path: /home/file1
    state: touch
    owner: root
    group: root
    mode: 0744
  tags: [create_file]

- name: --- show group variable ---
  debug:
    msg: "{{http_port}}"
  tags: [show_http_port]

- name: --- show production and stage variable value ---
  debug:
    msg: "{{myvar}}"
  tags: [show_myvar]

- name: --- command module ---
  command: ps aux 
  args:
    chdir: /home
    creates: /home/dir3
    removes: /home/dir1
  register: command_out
  tags: cmd_mod

- name: --- print command_out ---
  debug:
    msg: "{{command_out}}"
  tags: cmd_mod

- name: --- install pexpect via command playbook ---
  command: yum install -y python3-pip
  tags: [install_pexpect]

- name: --- install pexpect via pip ---
  command: pip3 install pexpect
  tags: [install_pexpect]

- name: --- expect module ---
  expect:
    command: passwd mehrdadq
    responses: 
      password: "qwe"
    # nolog: true
  tags: [expect_mod]

- name: --- script module ---
  script: script.sh   # read script from files directory
  tags: [script_mod]

- name: --- shell module ---
  shell: ps aux | grep -i ansible
  args:
    creates: /home/dir3
    removes: /home/dir1
  register: shell_var
  tags: [shell_mod] 

- name: --- print - shell_var ---
  debug:
    msg: "{{shell_var}}"
  tags: [shell_mod]

- name: --- raw module ---
  raw: echo "ansible RAW module" > /home/raw_out
  tags: [raw_mod]

- name: --- copy module ---
  copy:
    src: /home/dir1/myfile
    dest: /home/dir2
    remote_src: yes
    owner: root
    group: root
    mode: 0644
    force: yes
    backup: yes
  tags: [copy_mod]

- name: --- fetch module ---
  fetch: 
    src: /etc/nginx/nginx.conf
    dest: /tmp/ansible/
    flat: yes
    validate_checksum: yes
  tags: [fetch_mod]

- name: --- group module ---
  group:
    name: ansible
    state: present
  tags: [group_mod]

- name: --- user module ---
  user:
    name: mehrdadq
    group: ansible
    state: present
    shell: /bin/bash
    password: 123
  tags: [user_mod]

- name: --- yum-repo module ---
  yum_repository:
    name: mehrdad
    description: extra repor for RHEL
    baseurl: https://mehrdad_repo_link.com
    gpgcheck: no
    enabled: yes
    state: absent
  tags: [yum_repo_mod]

- name: --- install package via yum ---
  yum:
    name: nginx
    state: present
  tags: [yum_mod_install]

- name: --- update a package via yum ---
  yum:
    name: nginx
    state: latest
    update_only: yes
    security: yes
  tags: [yum_mod_update]

- name: --- update yum package exclude one ---
  yum:
    name: '*'
    state: latest
    exclude: kernel*
  tags: [yum_mod_update]

- name: --- get yum list ---
  yum:
    list: httpd
  register: yum_mod_out
  tags: [yum_list]

- name: --- print yum list output ---
  debug:
    msg: "{{ yum_mod_out }}"
  tags: [yum_list]

- name: --- install package via apt ---
  apt:
    name: nginx
    state: present
  tags: [apt_mod_install]

- name: --- remove package via apt ---
  apt:
    name: [nginx,nginx-common]
    state: absent
    purge: yes
  tags: [apt_mod_remove]

- name: --- use autoremove in debian ---
  apt:
    autoremove: yes
  tags: [apt_mod_remove]

- name: --- template module ---
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    # owner: root
    # group: root
    backup: yes
    # forece: yes
  tags: [tmp_mod]

- name: --- lineinfile module ---
  lineinfile: 
    path: /etc/nginx/nginx.conf
    # insertafter: ' listen       80 default_server;'
    # line: '        listen       8090 default_server;'
    insertafter: '^#listen'
    line: 'listen 8080'
    # state: absent
    backup: yes
  tags: [lineinfile_mod]

- name: --- replace module ---
  replace:
    path: /etc/nginx/nginx.conf
    regexp: 'listen       80 default_server;'
    replace: 'listen       8080 default_server;'
    # after: from line number
    # before: to line number
    backup: yes
  tags: [rep_mod]

- name: --- enable/disable systemctl service ---
  service:
    name: nginx
    enabled: yes
  tags: [srv_mod_ed]

- name: --- start/stop systemctl service ---
  service:
    name: nginx
    state: restarted
  register: sysout
  tags: [srv_mod_ss]

- name: --- archive module ---
  archive:
    path: /home/dir1/*
    dest: /tmp/test.tar.gz
    exclude_path: 
      - file1
  tags: [archive_mod]

- name: --- unarchive module ---
  unarchive:
    src: files.tar.gz
    dest: /home/test2/
    exclude:
      - f2
    # keepnewer: no
  tags: [unarc_mod]

- name: --- wate_for module --- 
  wait_for: 
    timeout: 10 #second, default value is 300
  delegate_to: localhost
  tags: [wait_for_mod]

- name: --- after wait for fiished ---
  debug: 
    msg: "wait for was finished"
  tags: [wait_for_mod]

- name: --- wait till the string '192.168.0.127' appread in access.log file ---
  wait_for: 
  # follow this path till the search_regex appears
    path: /var/log/nginx/access.log 
    search_regex: '192.168.0.127'
  tags: [wait_till_for_mod]

- name: --- after wait_for execution ---
  debug:
    msg: Nginx is running
  tags: [wait_till_for_mod]

- name: --- wait for till port is up or down ---
  wait_for:
    host: 192.168.0.159
    port: 8080
    delay: 5
    state: stopped
  tags: [wait_for_port_mod]

- name: --- ignore erroe ---
  command: /bin/false 
  ignore_errors: yes
  tags: [ignore_err]

- name: --- Update all packages in sync mode ---
  yum:
    name: "*"
    state: latest
  async: 7200
  poll: 30
  tags: [yum_async_update]

- name: --- Fire and Forget --- # run parallel tasks
  yum: 
    name: "*"
    state: latest
  async: 7200
  poll: 0 # with poll=0 ansible just triger task and does not wait for and check it again
  tags: [fireandforget]

- name: --- next task is running ---
  debug: 
    msg: "Next Task is Running"
  tags: [fireandforget]

- name: --- wait for connection module ---
  wait_for_connection: 
    timeout: 300 # maximum wait time for, in second for specific task
    delay: 10 # first delay in second
    sleep: 5 # each interval to check task in second
  tags: [wait_for_connection_mod]

- name: --- check waiting connection module ---
  debug: 
    msg: "wait for connection has been passed"
  tags: [wait_for_connection_mod]

- name: --- reboot active connection ---
  shell: "sleep 1 && reboot"
  async: 30
  poll: 0
  ignore_errors: yes
  tags: [reboot_hosts]

- name: --- after reboot 1 ---
  debug:
    msg: "Hosts have been rebooted"
  tags: [reboot_hosts]

- name: --- wait for connection module ---
  wait_for_connection: 
    timeout: 300 # maximum wait time for, in second for specific task
    delay: 10 # first delay in second
    sleep: 5 # each interval to check task in second
  tags: [reboot_hosts]

- name: --- after reboot 2 ---
  debug:
    msg: "Hosts have been rebooted"
  tags: [reboot_hosts]

- name: --- reboot module ---
  reboot:
    reboot_timeout: 30
    msg: "The system is going to reboot immediately"
  tags: [reboot_mod]

- name: --- after reboot with reboot mod ---
  debug:
    msg: "reboot mod was working gooood"
  tags: [reboot_mod]

- name: --- Mail module sample ---
  mail:
    host: 192.168.0.127
    port: 25 # SMTP defaul port
    subject: Ansible-Mail-Module # this field is required
    body: System {{ ansible_hostname }} has been successfully provisioned.
    from: mehrdad.drpc@gmail.com (Mehrdad Qasemkhani)
    to: 
      - mehrdad.drpc@yahoo.com
      - mehrdad.pc@gmail.com
    attach:
    - /etc/group
    - /tmp/avatar2.png
    headers:
      - Reply-To=mehrdad.drpc@yahoo.com
      - X-Special="Something or other"  
    charset: utf-8